---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import StartupCard from "../components/StartupCard.astro";
import Navigation from "../components/Navigation.astro";
---

<BaseLayout title="Lukas Juranek">
  <!-- Header Section -->
  <header class="header-with-cover text-white text-center pt-28 sm:pt-32 md:pt-40 pb-16 sm:pb-24 md:pb-32 px-4 relative">
    <Navigation />
    <h1 class="text-4xl sm:text-5xl md:text-6xl mb-3 sm:mb-4">Lukas Juranek</h1>
    <p class="text-md sm:text-xl mb-6 sm:mb-8 font-light text-gray-400">Data Science Student & Entrepreneur</p>
    <div class="flex flex-col sm:flex-row justify-center gap-3 sm:gap-4 max-w-xs md:max-w-none mx-auto">
      <a
        href="#projects"
        class="bg-blue-700 text-white px-6 sm:px-8 py-2.5 sm:py-3 rounded-full hover:bg-blue-800 transition-all duration-200 inline-flex items-center justify-center text-sm sm:text-base"
      >
        View Projects
      </a>
      <a
        href="#contact"
        class="text-gray-400 px-6 sm:px-8 py-2.5 sm:py-3 rounded-full hover:underline transition-colors inline-flex items-center justify-center text-sm sm:text-base hover:underline hover:text-white focus:underline focus:text-white"
        style="text-decoration: none;"
      >
        Contact me
        <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 w-3 h-3 text-gray-400 inline-block" fill="none" viewBox="0 0 18 6">
          <line x1="1" y1="3" x2="15" y2="3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
          <line x1="13" y1="0" x2="17" y2="3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
          <line x1="17" y1="3" x2="13" y2="6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
      </a>
      
    </div>
  </header>

  <main class="px-5 sm:px-6 md:px-8 max-w-5xl mx-auto flex flex-col gap-12 sm:gap-16 pt-4">

    <div id="university" class="">
      <span class="text-left flex flex-col items-start gap-2">
        <p class="text-gray-200 font-light">
          I love building software, especially web and mobile apps, and I enjoy exploring UI design. I'm also very interested in entrepreneurship and building businesses that make a meaningful impact.
        </p>
        <span class="mb-2 flex items-center gap-2 font-light">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.49 12 3.75 3.75m0 0-3.75 3.75m3.75-3.75H3.74V4.499" />
          </svg>
          <span class="font-light text-gray-200">Data Science at</span>
          <a href="https://www.uc3m.es" target="_blank" rel="noopener">
            <img src="/img/uc3m-logo.svg" alt="UC3M logo" class="h-8 sm:h-8 inline-block" loading="lazy" />
          </a>
          <a href="https://www.uc3m.es" class="text-white hover:text-blue-400 underline" target="_blank" rel="noopener">UC3M</a>
        </span>
        <span class="flex items-center gap-2 font-light">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.49 12 3.75 3.75m0 0-3.75 3.75m3.75-3.75H3.74V4.499" />
          </svg>
          <a href="https://github.com/lukasjuranek" class="text-white hover:text-blue-400 underline" target="_blank" rel="noopener">GitHub</a>
          <span class="mx-2 text-gray-500">|</span>
          <a href="https://www.linkedin.com/in/lukasjuranek" class="text-white hover:text-blue-400 underline" target="_blank" rel="noopener">LinkedIn</a>
          <span class="mx-2 text-gray-500">|</span>
          <a href="/docs/CV-Lukas-Juranek.pdf" class="text-white hover:text-blue-400 underline" target="_blank" rel="noopener">Resume</a>
          <!-- <span class="mx-2 text-gray-500">|</span>
          <a href="https://instagram.com/luky_juranek" class="text-white hover:text-blue-400 underline" target="_blank" rel="noopener">Instagram</a> -->
        </span>
    </div>

    <!-- Startups -->
    <div id="startups" class="">
      <!-- <h1 class="text-left ml-5 text-gray-600 font-light text-3xl sm:text-4xl mb-8 sm:mb-12 md:mb-16">Selected Projects</h1> -->

      <div class="flex flex-col gap-24">
        <!-- <StartupCard
          href="https://aroa-ai.com"
          src="/img/aroa.png"
          title="Aroa"
          text="A collaborative workspace for ambitious teams. Makes your work better by connecting your tools and teams. Currently in just the idea phase. We used this to apply to YCombinator."
        /> -->

        <StartupCard
          href="https://bluebee.es"
          src="/img/bluebee.png"
          title="Bluebee"
          text="My first startup, a Tinder-like property platform with real users on iOS and Android. Tenants can use filters to find the perfect property and landlords can get a better sense of the interested people thanks to their detailed profiles. I build this project with my co-founder Daniel Totolici."
        />
      </div>
    </div>

    <!-- Projects -->
    <div id="projects" class="">
      <h1 class="text-left ml-5 text-gray-600 tracking-widest text-3xl sm:text-4xl mb-8 sm:mb-12 md:mb-12">PROJECTS</h1>
      <div class="container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-24 sm:gap-12 md:gap-12">
        
        <ProjectCard
          title="Neural Network Game"
          text="A game where you can train a dense neural network to play a simple game. Built with TensorFlow.js and p5.js"
          src="/img/thumbnail-18.png"
          tag="ML"
        />

        <ProjectCard
          title="Digital Nomad Trips"
          text="A Flask web app that helps digital nomads find the best trips."
          src="/img/thumbnail-15.png"
          tag="WEB"
        />

        <ProjectCard
          href="https://humaniza-palabras.es"
          title="humaniza-palabras.es"
          text="A website that helps you paraphrase Spanish text making it more human and natural."
          src="/img/thumbnail-16.png"
          tag="WEB"
        />

        <ProjectCard
          href="https://juranek-stomatologie.cz"
          title="Dental Clinic"
          text="Fully responsive and optimized website for my dad's dental clinic."
          src="/img/thumbnail-17.png"
          tag="WEB"
        />

        <ProjectCard
          href="https://play.google.com/store/apps/details?id=com.lukasjuranek.journal"
          title="Simple Journal"
          text="Very simple journaling app created with React Native. Available on Google Play."
          src="/img/thumbnail-14.png"
          tag="APP"
        />

        <ProjectCard
          href="https://play.google.com/store/apps/details?id=com.lukasjuranek.stopwatch"
          title="Interval Master"
          text="React Native app that lets coaches time multiple athletes at once and track their lap and interval times all at once. Available on Google Play."
          src="/img/thumbnail-13.png"
          tag="APP"
        />

        <ProjectCard
          href="https://jurankovi-triatlon.cz"
          title="jurankovi-triatlon.cz"
          text="Personal webpage with mine and my sister's sport photos and results."
          src="/img/thumbnail-1.jpg"
          tag="WEB"
        />

        <ProjectCard
          href="https://dont-miss.netlify.app"
          title="Don't miss"
          text="A single-player javascript game. One missed shot and you're dead. I used the javascript library p5.js for this project."
          src="/img/thumbnail-3.png"
          tag="GAME"
        />

        <ProjectCard
          href="https://github.com/lukyjuranek/1942-game"
          title="1942"
          text="1942 inspired python game created in the retro game engine called Pyxel. This game has been made as a part of a university assignment."
          src="/img/thumbnail-11.png"
          tag="GAME"
        />

        <ProjectCard
          href="https://github.com/lukyjuranek/wordlist-generator"
          title="Wordlist generator"
          text="A python command line tool that creates wordlists for password cracking based on target's personal information like name and birthdate."
          src="/img/thumbnail-4.png"
          tag="OTHER"
        />

        <ProjectCard
          href="https://play.google.com/store/apps/details?id=com.lukasjuranek.phototrapapp"
          title="Photo Trap"
          text="An app created to learn React Native. With this app you can take a photo of something like your desk before and after and then compare the photos to see if something has been moved or taken. Available on Google Play with 2,000 downloads."
          src="/img/thumbnail-10.png"
          tag="APP"
        />

        <ProjectCard
          href="https://github.com/lukyjuranek/arduino-maze-robot"
          title="Arduino maze robot"
          text="Arduino robot that I programmed in my university class to solve a simple maze. The robot was already designed I only assembled it and coded the logic."
          src="/img/thumbnail-12.png"
          tag="OTHER"
        />

        <ProjectCard
          href="https://github.com/lukyjuranek/mailbox-destroyer"
          title="Mailbox destroyer"
          text="A single-player bus driving game where your goal is to destroy mailboxes by driving into them. It was created in Unity."
          src="/img/thumbnail-2.png"
          tag="GAME"
        />

        <ProjectCard
          href="https://webove-frameworky.netlify.app"
          title="Webové frameworky"
          text="A simple website made for a school project. This website is about ReactJS, jQuery and Bootstrap."
          src="/img/thumbnail-5.png"
          tag="WEB"
        />

        <ProjectCard
          href="https://tron-arcade.netlify.app"
          title="Tron arcade"
          text="My first javascript game. It's a two-player game inspired by the arcade game from Tron."
          src="/img/thumbnail-6.png"
          tag="GAME"
        />

        <ProjectCard
          href="https://jurankovi-triatlon-old.netlify.app"
          title="jurankovi-triatlon.cz"
          text="Old design of jurankovi-triatlon.cz."
          src="/img/thumbnail-7.png"
          tag="WEB"
        />

        <ProjectCard
          href="https://swimmer-stopwatch.netlify.app/"
          title="Swimmer stopwatch"
          text="A web-based stopwatch for timing two swimmers."
          src="/img/thumbnail-8.png"
          tag="WEB"
        />
      </div>
    </div>

    <!-- Contact -->
    <div id="contact">
      <h1 class="text-left ml-5 text-gray-600 tracking-widest text-3xl sm:text-4xl mb-8 sm:mb-12 md:mb-12">CONTACT</h1>

      <div class="flex justify-start">
        <div class="flex flex-col text-base sm:text-lg space-y-2 text-left">
          <div>
            <a href="https://github.com/lukyjuranek" class="text-white underline hover:text-gray-300 transition-colors">Github</a>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/lukasjuranek" class="text-white underline hover:text-gray-300 transition-colors">LinkedIn</a>
          </div>
          <div>
            <a href="https://instagram.com/luky_juranek" class="text-white underline hover:text-gray-300 transition-colors">Instagram</a>
          </div>
          <div>
            <a href="mailto:lukasjuranek382@gmail.com" class="text-blue-400 hover:text-gray-300 transition-colors">lukasjuranek382@gmail.com</a>
          </div>
          <div>
            <a href="mailto:lukasjuranek@bluebee.es" class="text-blue-400 hover:text-gray-300 transition-colors">lukasjuranek@bluebee.es</a>
          </div>
        </div>
      </div>
    </div>
  </main>

</BaseLayout>
